.quest-tile {
	min-width: 960px;
	max-width: 960px;
	margin: 24px;
	font-size: 12px;
	background: yellow;
	&.width-300 {
		min-width: 300px;
		max-width: 300px;
	}
	&.width-270 {
		min-width: 270px;
		max-width: 270px;
	}
	&.width-240 {
		min-width: 240px;
		max-width: 240px;
	}
	&.asking-tile {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 420px;
		width: 240px;
		background-color: white;
		border: 4px solid yellow;
		p {
			font-weight: 600;
			font-size: 18px;
		}
		h1 {
			font-size: 64px;
		}
		&:hover {
			background: yellow;
		}
		@media(max-width: 960px) {
			position: fixed;
			bottom: 20px;
			height: 60px;
			border-radius: 30px;
			margin: 0;
			left: 20px;
			right: 20px;
			max-width: inherit;
			width: inherit;
			background: yellow;
			border-color: #eef500;
			box-shadow: 0 4px 12px rgba(black, 0.1);
		}
	}
	iframe {
		width: 100%;
	}
	.header {
		display: flex;
		justify-content: space-between;
	}
	.giving {
		color: black;
		font-weight: 900;
		padding: 6px;
	}
	.reward {
		padding: 4px 8px;
		border-top: 1px solid #F8F8F8;
		width: 100%;
		background: white;
		&:hover {
			background: yellow;
			font-weight: 900;
		}
	}
	.goArrow {
		position: relative;
		color: black;
		font-size: 18px;
		padding: 0 4px;
		top: 1px;
	}
	&__list-item {
		border: 2px solid yellow;
		.header {
			background: yellow;
		}
	}
	&__actions {
		background: yellow;
		text-align: center;
		padding: 8px;
		font-size: 16px;
		font-weight: 900;
	}
}
