.quest-tile {
	min-width: 960px;
	max-width: 960px;
	margin: 24px;
	font-size: 12px;
	background: yellow;
	&.width-300 {
		min-width: 300px;
		max-width: 300px;
	}
	&.width-270 {
		min-width: 270px;
		max-width: 270px;
	}
	&.width-240 {
		min-width: 240px;
		max-width: 240px;
	}
	iframe {
		width: 100%;
	}
	.giving {
		color: black;
		font-weight: 900;
		padding: 6px;
	}
	.reward {
		padding: 4px 8px;
		border-top: 1px solid yellow;
		width: 100%;
		background: white;
		&:hover {
			background: yellow;
			font-weight: 900;
		}
	}
	.goArrow {
		position: relative;
		color: black;
		float: right;
		font-size: 18px;
		padding: 0 4px;
		top: -3px;
	}
	&__actions {
		border: 2px solid yellow;
		.header {
			background: yellow;
		}
	}
}
