.quest-tile {
	min-width: 960px;
	max-width: 960px;
	padding: 24px;
	font-size: 14px;
	text-align: center;
	&.width-400 {
		min-width: 400px;
		max-width: 400px;
	}
	&.width-350 {
		min-width: 350px;
		max-width: 350px;
	}
	&.width-300 {
		min-width: 300px;
		max-width: 300px;
	}
	iframe {
		width: 100%;
	}
	span.giving {
		color: #ccc;
		font-weight: 900;
		text-decoration: underline;
	}
	span.reward {
		&:hover {
			font-weight: 900;
		}
	}
	@media screen and (max-width: 960px) {
		padding: 24px;
	}
}
