.quest, .ask {
	width: 960px;
	margin: 0 auto;
	padding: 24px;
	.back-button {
		display: none;
	}
	a {
		margin: 0 0 72px 0;
	}
	h1 {
		color: #000;
		margin-bottom: 8px;
		font-weight: 700;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	p {
		&::first-letter {
			text-transform: uppercase;
		}
	}
	section {
		display: flex;
		flex-direction: row;
		article {
			flex-grow: 1;
			padding-right: 64px;
		}
		aside {
			display: flex;
			align-items: center;
			justify-content: center;
			iframe {
				min-height: 420px;
			}
		}
	}
	@media(max-width: 960px) {
		width: 100%;
		.back-button {
			width: 100%;
			text-align: center;
		}
		section {
			flex-direction: column;
			article {
				padding-right: 0;
			}
			aside {
				display: flex;
				height: auto;
				padding: 24px;
			}
		}
	}
	.goal {
		margin-bottom: 12px;
		background: white;
		padding: 24px 0;
		h5 {
			font-size: 24px;
			font-weight: 900;
		}
		h6 {

		}
		p {
			color: #aaa;
		}
	}
}

.ask {
	text-align: center;
	h6 {
		font-weight: 600;
	}
}

.video-holders {
}

.ask-goal {
	.input-container {
		display: flex;
	}
	.input-field {
		flex-grow: 1;
	}
	@media(max-width: 960px) {
		.input-container {
			display: block;
		}
	}
}

.input-field {
	margin: 18px 0;
	label, input {
		display: block;
	}
	label {
		font-size: 12px;
		font-weight: 200;
		padding-bottom: 6px;
	}
	input {
		width: 100%;
		padding: 8px 12px;
		font-size: 16px;
		border: 1px solid #ccc;
		outline: none;
	}
}

button {
	padding: 12px;
	border: 1px solid black;
	outline: none;
	background: none;
	font-size: 16px;
	font-weight: 600;
	&:hover {
		background: black;
		color: white;
	}
}
